CarAuction/src/CarAuction.API/bin/Debug/net9.0/Azure.Core.dll
CarAuction/src/CarAuction.API/bin/
CarAuction/src/CarAuction.API/obj/
CarAuction/src/CarAuction.Domain/obj/
CarAuction/src/CarAuction.Infrastructure/bin/
CarAuction/src/CarAuction.Infrastructure/obj/
CarAuction/src/CarAuction.Application/bin/
CarAuction/src/CarAuction.Application/obj/
CarAuction/src/CarAuction.Domain/bin/
